.thumbnail {
  display: block;
  width: 250px;
  height: 250px;
  margin: 15px auto;
  cursor: pointer;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.lightbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  cursor: pointer;
}

.lightbox img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 640px;
  height: 640px;
  margin-top: -320px;
  margin-left: -320px;
}

.lightbox a {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: Courier;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: orange;
  cursor: pointer;
}
