html, body {
  font-family: Courier;
  font-size: 20px;
}

form {
  width: 500px;
  margin: 50px auto;
}

label {
  text-transform: uppercase;
}

input {
  width: 100%;
  height: 50px;
  margin: 15px 0;
  padding: 0 15px;
  border: none;
  line-height: 50px;
  font-family: Courier;
  font-size: 20px;
  box-sizing: border-box; /* improvement: cross browser support */
}

input[type="text"], input[type="password"] {
  background-color: black;
  color: white;
}

input[type="submit"] {
  border: 1px solid black;
  background-color: lavender;
  text-transform: uppercase;
  cursor: pointer;
}

input[type="submit"]:hover {
  border: 1px solid magenta;
  color: magenta;
}

.error {
  display: none;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: lavender;
  line-height: 50px;
  text-align: center;
  box-sizing: border-box; /* improvement: cross browser support */
}
